@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css2?family=Notable');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-box {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 5px;
}

input {
    font-family: 'Notable';
}

body {
    background: white;
}

.jumbotron {
    background-image: url(images/giphy.gif);
    text-align: center;
    border: solid;
    border-color: black;
    background-size: cover;
    background-color: white;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.navbar {
    color: white;
}

footer {
    text-align: center;
    color: white;
    background-color: #242424;
    font-family: 'Inconsolata';
    padding: 50px;
}