@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css2?family=Notable');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-box {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 5px;
    align-content: center;
}

input {
    font-family: 'Indie Flower';
    text-align: center;
}

label {
    font-family: 'Notable';
    color: rgb(240, 51, 51);
    font-size: 1em;
    opacity: 0.75;
}

body {
    background: white;
}

form {
    display: flex;
    align-content: center;
    opacity: .85;
}

.jumbotron {
    background-image: url(images/giphy.gif);
    text-align: center;
    border: solid;
    border-color: black;
    background-size: cover;
    background-color: white;
    justify-content: center;
    height: 200px;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav {
    color: white;
    position: fixed;
    font-family: 'Notable';
}

footer {
    text-align: center;
    color: limegreen;
    background-color: white;
    padding: 50px;
    font-family: 'Indie Flower';
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 320px) {
    .img-box {
        flex: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .img-box {
        flex: 100%;
        max-width: 100%;
        text-align: center;
    }
    .navbar {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .img-box {
        flex: 50%;
        max-width: 50%;
    }
}